<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="../../index3.html" class="brand-link">
      <img th:src="@{/3rd-party/img/AdminLTELogo.png}"
           alt="AdminLTE Logo"
           class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img th:src="@{/3rd-party/img/user2-160x160.jpg}" class="img-circle elevation-2" alt="User Image">

        </div>
        <div class="info">
          <a href="#" class="d-block">Alexander Pierce</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="../../index.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Dashboard v1</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="../../index2.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Dashboard v2</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="../../index3.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Dashboard v3</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="../widgets.html" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Widgets
                <span class="right badge badge-danger">New</span>
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Registration
                <i class="fas fa-angle-left right"></i>
                <span class="badge badge-info right">6</span>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="tank" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Tank Registration</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="meter" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Meter Registration</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="supplierRegistration" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Supplier Registration</p>
                </a>
              </li>
              <li>
                <a href="clientRegistration" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Client Registration</p>
                </a>
              </li>
              <li>
                <a href="tankerRegistration" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Tanker Registration</p>
                </a>
              </li>
<!--              <li class="nav-item">-->
<!--                <a href="contactDetails" class="nav-link">-->
<!--                  <i class="far fa-circle nav-icon"></i>-->
<!--                  <p>Contact Details</p>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a href="fuelToLubricantRatio" class="nav-link">-->
<!--                  <i class="far fa-circle nav-icon"></i>-->
<!--                  <p>Fuel To Lubricant Ratio Details</p>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a href="bankDetails" class="nav-link">-->
<!--                  <i class="far fa-circle nav-icon"></i>-->
<!--                  <p>Bank Details</p>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a href="otherAccountDetails" class="nav-link">-->
<!--                  <i class="far fa-circle nav-icon"></i>-->
<!--                  <p>Other Account Details</p>-->
<!--                </a>-->
<!--              </li>-->
            </ul>
          </li>
          
          <li class="nav-header">MULTI LEVEL EXAMPLE</li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="fas fa-circle nav-icon"></i>
              <p>Level 1</p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-circle"></i>
              <p>
                Registration
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="tank" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Tank Registration</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="meter" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Meter Registration</p>
                </a>
              </li>
              <li class="nav-item has-treeview">
                <a href="supplierRegistration" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>
                    Supplier Registration
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
<!--                <ul class="nav nav-treeview">-->
<!--                  <li class="nav-item">-->
<!--                    <a href="supplierDetails" class="nav-link">-->
<!--                      <i class="far fa-dot-circle nav-icon"></i>-->
<!--                      <p>Supplier Details</p>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li class="nav-item">-->
<!--                    <a href="contactDetails" class="nav-link">-->
<!--                      <i class="far fa-dot-circle nav-icon"></i>-->
<!--                      <p>Contact Details</p>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li class="nav-item">-->
<!--                    <a href="#" class="nav-link">-->
<!--                      <i class="far fa-dot-circle nav-icon"></i>-->
<!--                      <p>Fuel To Lubricant Ratio</p>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li class="nav-item">-->
<!--                    <a href="#" class="nav-link">-->
<!--                      <i class="far fa-dot-circle nav-icon"></i>-->
<!--                      <p>Bank Details</p>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li class="nav-item">-->
<!--                    <a href="#" class="nav-link">-->
<!--                      <i class="far fa-dot-circle nav-icon"></i>-->
<!--                      <p>Other Account Details</p>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                </ul>-->
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Level 2</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="fas fa-circle nav-icon"></i>
              <p>Level 1</p>
            </a>
          </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

</html>
