<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorator="default">
<head>
    <title>Dashboard</title>
    <div layout:fragment="scripts">
        <script type="text/javascript" th:src="@{/js/moment.min.js}"></script>
        <script type="text/javascript" th:src="@{/app/js/dashboard.js}"></script>
    </div>
</head>
<body>
<div layout:fragment="content">
    <div id="success_url" th:value="${success_url}"></div>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="card mb-8 box-shadow">
                        <img class="card-img-top" data-src="holder.js/100px350?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x350]" style="height: 350px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17bc6d0a533%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17bc6d0a533%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.71875%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
                        <!--<div class="card-body">-->
                            <!--<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
                            <!--<div class="d-flex justify-content-between align-items-center">-->
                                <!--<div class="btn-group">-->
                                    <!--<button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
                                    <!--<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                                <!--</div>-->
                                <!--<small class="text-muted">9 mins</small>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-12">
                        <section class="jumbotron text-center">
                            <div class="container">
                                <h1 class="jumbotron-heading"><strong>Monetize Your Assets</strong></h1>
                            </div>
                        </section>
                    </div>
                    <div class="mb-12 text-center">
                        <button id="createBtn" class="btn btn-primary my-2">Create</button>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 20px">
                <div class="col-md-12">

                    <div class="card mb-12 box-shadow">
                        <div class="card-body">
                            <h4 class="jumbotron-heading"><strong>Latest Minted</strong></h4>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">Image</th>
                                    <th scope="col">URL</th>
                                    <th scope="col">Minted ON</th>
                                </tr>
                                </thead>
                                <tbody id="tableBody">
                                    <!--<tr>-->
                                        <!--<th scope="row">Car</th>-->
                                        <!--<td>images.com/image1.png</td>-->
                                        <!--<td>January 18, 2021</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<th scope="row">Jet</th>-->
                                        <!--<td>images.com/image2.png</td>-->
                                        <!--<td>March 20, 2021</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<th scope="row">Rocket</th>-->
                                        <!--<td>images.com/image3.png</td>-->
                                        <!--<td>August 10, 2021</td>-->
                                    <!--</tr>-->
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
