<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorator="default">
<head>
    <title>Minted</title>
    <div layout:fragment="scripts">
        <script type="text/javascript" th:src="@{/js/moment.min.js}"></script>
        <script type="text/javascript" th:src="@{/app/js/mintedList.js}"></script>
    </div>
</head>
<body>
<div layout:fragment="content">

    <div class="album py-5 bg-light">
        <div class="container">

            <div id="feed" class="row justify-content-center" style="margin-top: 20px">
            </div>
        </div>
    </div>

    <div id="access_token" th:value="${access_token}"></div>
    <div id="user_id" th:value="${user_id}"></div>
</div>
</body>
</html>
